body{
  margin:0;
  /*background-color: #191919;*/
  background-color:white;
}

.navbar ul, .navbar li{
  top:0px;
  margin:0px;
  list-style-type: none;
  background-color:#9147ff;
  background-size: 200px,auto, contain;
  font-family: "Segoe UI";
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 999;
}
.navbar{
  position: absolute;
  background-color:#9147ff;
  padding-top:10px;
  padding-bottom:10px;
  width:100%;  
}
.navbar li a{
transition: color .5s;
color:black;
font-size: 20px;
}
.navbar li:hover a{
color:white !important;
}
.navbar ul{
padding:1;
color:black;
}
.navbar li {
float: left; 
color:black;
}
.commands{
  Color:#9147ff;
  font-family: "Segoe UI";
  font-size: 18px;
  margin-left: 1%;
  margin-right: 1%;
}
.FuckingTable{
  font-family: "Segoe UI";
  background-color: #f2f2f2;;
  position: absolute;
  margin-top: 10%;
  margin-left: 15%;
  border-collapse: collapse;
  border-radius: 2px;
} 
th, td {
  text-align: left;
  padding: 8px;
  border: 0px;
  }
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #CCCCCC;}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #191919;
    }
}