body{
    margin:0;
    background-color: #191919;
}
.navbar ul, .navbar li{
    top:0px;
    margin:0px;
    list-style-type: none;
    background-color:#9147ff;
    background-size: 200px,auto, contain;
  	font-family: "Segoe UI";
	letter-spacing: 1px;
	font-size: 20px;
    overflow: hidden;
    z-index: 999;
}
.navbar{
    position: absolute;
    background-color:#9147ff;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;  
}
.navbar li a{
  transition: color .5s;
}
.navbar li:hover a{
  color:white !important;
}
.navbar ul{
  padding:1;
}
.navbar li {
float: left; 
}
.FuckingTable{
    font-family: "Segoe UI";
    background-color: #f2f2f2;;
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    border-collapse: collapse;
    border-radius: 2px;
} 
th, td {
    text-align: left;
    padding: 8px;
    border: 0px;
  }
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #CCCCCC;}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #191919;
    }
}